/*RESET*/
*{margin:0; padding:0;}

body{
	background: #DDDDDD;
	text-decoration:none;
}

h1{
	font: 18px Arial, Helvetica, sans-serif;
}

h2{
	font: 16px Arial, Helvetica, sans-serif;
}

p{
	font: 12px Arial, Helvetica, sans-serif;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
	font: 13px Arial, Helvetica, sans-serif;
}
/*conexao.if.com*/
#header{
	width:100%;
	height:45px;
	margin:0 auto;
	background:#71a900;
	position:fixed;
	top:0;
	box-shadow: 1px 1px 4px #000000;
}

#box-header{
	width:960px;
	height:40px;
	margin:0 auto;
	background:#71a900;
}
/*---------------------*/
#logo-if{
	width:170px;
	height:40px;
	float:left;
	margin:2px 2px 0 10px;
	background:url('../img/logo-conexao-map.png') no-repeat center;
	cursor:pointer;
}

#logo-if:hover{
	background:url('../img/logo-conexao-map-hover.png') no-repeat center;
}

#logo-if a{
	width:140px;
	height:40px;
	float:left;
	margin:0;
}
/*--------------------*/
.search{
	width:300px;
	height:30px;
	float:left;
	background:#333;
	margin:7px 0 0 90px;
	background:#fff;
	border-radius:5px;
}

.box_search{
	width:330px;
	height:25px;
	margin:2px 0 0 8px;
	border:1px solid #fdfdfd;
	font: 16px Arial, Helvetica, sans-serif;
	color:#444;
}

.btn_search{
	width:35px;
	height:20px;
	margin:2px 0 0 0;
	padding:0 0 0 2px;
	cursor: pointer;
	background:url('../img/search-submit_cinza.png') no-repeat center;
	border:none;
	border-left:1px solid #bbb;
}

.btn_search:hover{
	background:url('../img/search-submit.png') no-repeat center;
}
/*--------------------*/
#menu{
	width:280px;
	height:45px;
	margin: 0 0 0 0px;
	float:right;
	background:none;
	font:16px Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#menu ul{
	margin: 12px 0 0 0;
}

#menu ul li{
	list-style:none;
	display:inline;
	margin: 0 2px;
	padding:10px 8px;
	color:#ddd;
	text-shadow: 1px 1px 4px #000000;
}

#menu ul li:hover{
	color:#fff;
	cursor: pointer;
	text-shadow: 1px 1px 4px #ffffff;
	background:#71b900;
	border-radius:10px;
}

#menu a{
	background:none;
	color:#fff;
	font:16px Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#menu a:hover{
	color:#fff;
	cursor: pointer;
	text-shadow: 1px 2px 6px #ffffff;
}
/*-----------------------------------------*/

#main{
	width:970px;
	height:800px;
	margin:55px auto 0;
	background: #FFFFFF;
	border-radius:10px;
}

/*
#main {
	float: left;
	margin: 55px auto 0;
	margin-left: 28px;
	margin-top: 50px;
	width: 1080px;
	height: 800px;
	background: #FFFFFF;
	border-radius: 10px;
}
*/

#footer{
	width:100%;
	height:40px;
	margin:10px auto 0;
	bottom:0;
}

#credits{
	width:390px;
	margin:10px auto 0;
	padding:10px 0 0 0;
	color:#888;
}
/* iniciando fomatação dos posts*/

.floating-right {
	float: right;
}

.floating-left {
	float: left;
}

#left {
	float: left;
	margin-top: 2px;
	background: #FFFFFF;
	margin-left: 10px;
	border-radius: 10px;
	width: 370px;
	height: 800px;
}

#right {
	float: right;
	margin-top: 2px;
	background: #FFFFFF;
	margin-right: 10px;
	border-radius: 10px;
	width: 370px;
	height: 800px;
}
/*button*/
.button{
	margin-top: 10px;
}
input {
	margin-top: 5px;
	padding: 3px 50px;
	color: #333;
	vertical-align: middle;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: block;
}
.auth-form-body {
	padding: 10px;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #d8dee2;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}