/*RESET*/
*{margin:0; padding:0;}
header {
	position: fixed;
}
@media only screen and (max-width: 720px) {
	 header { position: absolute; }
}
html{
	height: 90%;
}
body {
	text-align:left;
	background: #000;
	font-family: Verdana, Tahoma, Arial;
	margin:0;
	padding:0;
	height:100%;
}
* {
	list-style:none; 
	padding:0px;
	margin:0px;
}
body{
	background: #DDDDDD;
	text-decoration:none;
	overflow-x: hidden; 
}
#header{
	width:100%;
	height:45px;
	margin:0 auto;
	background: #1F6012;
	position:fixed;
	top:0;
	box-shadow: 1px 1px 4px #000000;
}

#box-header{
	width:1568px;
	height:40px;
	margin:0 auto;
	
}
#logo-if{
	width:170px;
	height:40px;
	float:left;
	margin: 2px 2px 0 10px;
	background:url('../img/logo-conexao-map.png') no-repeat center;
	cursor:pointer;
}

#logo-if:hover{
	background:url('../img/logo-conexao-map-hover.png') no-repeat center;
}

#logo-if a{
	width:140px;
	height:40px;
	float:left;
	margin: 0;
}
.menu {
	list-style-type: none;
	margin-top: -12px;
	float: right;
	border: 1px solid #00AAFF;
	display: block;
}
.menu li {
	position: relative;
	float: left;
	margin-top: 1px;
	border-radius: 4px solid #990000;
	padding-right: 6px;
	padding-left: 6px;
	height: 35px;
	line-height: 10px;
}

.menu li a {
	font-family: Tahoma;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: underline;
}

.menu li ul {
	position: absolute;
	top: 37px;
	left: -30px;
	display: none;
}
.menu li:hover ul, .menu li ul li:hover ul, .menu li.over ul, .menu li ul li.over ul {
	display: block;
	background:#1F6012;
	border-radius: 5px;
}

.menu li ul li {
	border: 5px;
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
}
/*-----------------------------------------*/

#main{
	width:970px;
	height:800px;
	margin: 3% auto 0;
	background: #FFFFFF;
	border-radius:10px;
}

#footer{
	width:100%;
	height:40px;
	margin:10px auto 0;
	bottom:0;
}

#credits{
	width:390px;
	margin:10px auto 0;
	padding:10px 0 0 0;
	color:#888;
}
/* iniciando fomatação dos posts*/

.floating-right {
	float: right;
}

.floating-left {
	float: left;
}

#left {
	float: left;
	margin: 0.05% auto 0;
	margin-top: 0.10%;
	background: #FFFFFF;
	margin-left: 10px;
	border-radius: 10px;
	width: 22.3%;
	height: 91.80%;
}

#right {
	float: right;
	margin: 0.05% auto 0;
	margin-top: 0.10%;
	background: #FFFFFF;
	margin-right: 10px;
	border-radius: 10px;
	width: 22.3%;
	height: 91.80%;
}
/*button*/
.button{
	margin-top: 10px;
}
input {
	-moz-box-shadow: 1px 1px 2px #333333;
	-webkit-border-radius:4px;
	width: 350px;
	margin-top: 5px;
	padding: 3px 5px;
	color: #333;
	vertical-align: middle;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	font: 20px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: block;
}

.auth-form-body {
	float: ;
	margin-top: 10px;
	border: 1px solid rgba(6, 72, 3, 0.28);
	border-radius: 6px;
	width: 500px;
	height: 230px;
	display: block;
}