{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}IFPB news - Adicionar Postagens {% endblock %}
{% block extrahead %}<link href="{% static 'muralifpb/css/css-for-errors-li.css' %}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block content %}
	<div id="main" align="center">
		{% if success %}
			success
		{% else %}
			unsucess
		{% endif %}
		{% if request.user.is_authenticated %}
			<form action="." method="POST" enctype="multipart/form-data" >{% csrf_token %}
				<div class="block-login">
					<h2 class="title">Post</h2>
					{{ form.as_p }}
					<input class="button button-color" type="submit" name="Sign in" value="Sign in" >
				</div>
			</form>
		{% endif %}
	</div>

{% endblock %}