{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" media="all"/>
	<link rel="shortcut icon" href="{% static 'muralifpb/img/favicon.ico' %}" type="image/x-icon" />
	<title></title>
	<!-- Compiled and minified CSS -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" media="all"/>
	<link rel="stylesheet" href="{% static 'muralifpb/css/my-style.css' %}"></link>
	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</head>
<body>
	<nav>
		<div class="nav-wrapper green z-depth-1 white-text text-darken-2">
			<a class="brand-logo center logo" href="{% url 'mural:index' %}"><img class="responsive-img" src="{% static 'muralifpb/img/logo-conexao-map.png' %}" /></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				{% if request.user.is_authenticated %}
					{% if request.user.is_staff %}
						<li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ request.user.username }} Admin<i class="material-icons right">arrow_drop_down</i></a></li>
						<ul id="dropdown1" class="dropdown-content drop-mrc-1">
							<li><a href="{% url 'mural:edit_user' %}" >Perfil</a></li>
							{% if request.user.is_staff %}
								<li><a href="{% url 'mural:register' %}">Cadastrar</a></li>
							{% endif %}
							<li><a href="{% url 'mural:account' %}">account</a></li>
							<li><a href="{% url 'logout' %}">Exit</a></li>
						</ul>
					{% else %}
						<li>{{ request.user.username }} Estudante</li>
					{% endif %}
				{% else %}
					<li><b>IFPB news</b></li>
					<li><a href="{% url 'login' %}">Log in</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% block content %}{% endblock %}
	<footer class="page-footer green">
		<div class="container">
			<div class="row">
				<div class="col l12 m12 s12">
					<p class="center-align">Desenvolvido Jerônimo Gabriel</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>