{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" media="all"/>
	<link rel="shortcut icon" href="{% static 'muralifpb/img/favicon.ico' %}" type="image/x-icon" />
	<title></title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" media="all"/>
	<link rel="stylesheet" href="{% static 'muralifpb/css/my-style.css' %}"></link>
	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</head>
<body>
	<nav>
		<div class="nav-wrapper green z-depth-4 white-text text-darken-2">
			<a class="brand-logo logo" href="/"><img class="responsive-img" src="{% static 'muralifpb/img/logo-conexao-map.png' %}" /></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Log in</a></li>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div class="col s12 m3 l3 chat-students ">
			<h5>Estutantes</h5>
			<blockquote class="" >
				This is an example quotation that uses the blockquote tag.
			</blockquote>
		</div>
		<div class="col s12 m6 l6 news ">
			<h5>Notícias</h5>
			<blockquote class="" >
				This is an example quotation that uses the blockquote tag.
			</blockquote>
		</div>
		<div class="col s12 m3 l3 chat-rectory ">
			<h5>Reitoria</h5>
			<blockquote class="" >
				This is an example quotation that uses the blockquote tag.
			</blockquote>
		</div>
	</div>
	<footer>
		kafdçlajdfjadçlfjldajflçadksjf
	</footer>
</body>
</html>