{% extends 'login.html' %}
{% load staticfiles %}

{% block title %}IFPB edit password{% endblock %}
{% block extrahead %}<link href="{% static 'muralifpb/css/css-for-errors-li.css' %}" rel="stylesheet" type="text/css" media="all">{% endblock %}

{% block dashboard_content %}
	{% if success %}
		success
	{% else %}
		unsucess
	{% endif %}
	<div id="main" align="center">
		<form action="." method="POST" >{% csrf_token %}
			<div class="block-login">
				<h2 class="title">Change Password</h2>
				{{ form.as_p }}
				<input class="button button-color" type="submit" name="Sign in" value="Sign in" >
			</div>
		</form>
	</div>

{% endblock %}