{% extends 'base.html' %}
{% load staticfiles %}
{% load mural_tags %}

{% block title %}IFPB news{% endblock %}

{% block content %}
	<div class="row">

		{% show_posts %}

		<div class="col s3 news white ">
			<h5 class="center-align">Notícias</h5>
			<blockquote class="" >
				This is an example quotation that uses the blockquote tag.
			</blockquote>
		</div>

		{% show_posts_reitoria %}
 		
	</div>
	<script type="text/javascript" src="{% static 'muralifpb/js/index.js' %}"></script>
{% endblock %}