{% extends 'base.html' %}
{% load staticfiles %}
{% load mural_tags %}

{% block title %}IFPB news{% endblock %}

{% block content %}
	<div class="row">

		{% show_posts_reitoria %}

		<div class="col s12 m6 l6 news ">
			<h5 class="center-align">Notícias</h5>
			<blockquote class="" >
				This is an example quotation that uses the blockquote tag.
			</blockquote>
		</div>

		{% show_posts %}

		<div id="main">
			<a href="{% static 'muralifpb/img/search-submit.png' %}">download img</a>
			<br>
			{% show_news %}
		</div> -->		
	</div>
	<script type="text/javascript" src="{% static 'muralifpb/js/index.js' %}"></script>
{% endblock %}