{% extends 'base.html' %}

{% block title %}IFPB search {% endblock %}

{% block content %}
<!-- precisa ser editado para pesquisa de usuários -->
<h1>precisa ser editado para pesquisa de usuários</h1>
<a href="/settings">Back to settings</a>
	<form action="." method="POST" >{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" />
	</form>
	<hr>
	<h3>Lista de Users</h3>
	{% if users %}
		{% for user in users %}
			<p>{{ user.matricula }} {{ user.full_name }} {{ user.email }} {{ user.login }} {{ user.passwd }}</p>
		{% endfor %}
	{% else %}
		<p>not list!</p>
	{% endif %}
{% endblock %}